---
---

@import "{{ site.theme }}";

header {
    background: rgba(0, 0, 0, 0.18);
    border-bottom: 1px dashed #20c997;
}

header h1 {
    color: #20c997;
    text-shadow: 0 0 15px #4dc9a492;
}

.header {
    margin-block: auto;
    margin-top:1rem;
    margin-bottom: 1rem;
}

header, h1, h1:before, h2, h3, h4, h5, h6 {
    color: #20c997;
    text-shadow: 0 0 5px #4dc9a492;
}

#description {
    margin: 0;
}

.container {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-block: auto;
    font-size: large;
}

a {
    color: #20c997;
    text-shadow: 0 0 5px #4dc9a492;
}

a:hover {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

.heading-icons {
    padding-right:10px;
    height:30px;
    width:30px;
}

#skills-heading, #projects-heading, #contact-heading {
    display: inline-block;    
    color: #ac4142;
    text-shadow: 0 0 3px #b45b5e;
    display: flex;
}

ul li {
    list-style-image:none;
    list-style-type:none;
}

#skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-left: 0px;
}

li {
    display: grid;
    margin:1rem;
    justify-items: center;
    text-align: center;
    padding: 10px;
}

.text-center {
    padding:10px;
}

hr {
    background-image: linear-gradient(to right, rgba(55, 55, 55, 0), rgba(182, 182, 182, 0.75), rgba(55, 55, 55, 0));
}

#projects-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:2rem;
}

.collapsible {
    background-color: #4848487d;
    color: white;
    padding: 1.5rem;
    width:90%;
    margin:auto;
    border:none;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.6) 0px -5px 25px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: medium;
}
  
.active, .collapsible:hover {
    background-color: #5e5e5ea2;
}
  
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.project {
    display: flex;
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 25px;
    margin: auto;
    max-height: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1em;
    background-color: #14141488;
}

.project-display {
    width: 30%;
    padding:1rem;
    display: inline-block;
    height:100%;
}

.project-description {
    width: 70%;
    padding:1rem; 
    display: inline-block;
    height:100%;
}

#section-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(55, 55, 55, 0), rgba(182, 182, 182, 0.75), rgba(55, 55, 55, 0));
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#contact-body {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    padding:1.5rem;
}

.contact-icons {
    width: 50px;
    height: 50px;
    padding: 5px;
    filter: invert(100%);
}

.h3-padless {
    margin-bottom: 0px;
    color:white;
    //text-shadow: #bae89b;
    //color:#b45b5e;
    //text-shadow: 0 1px 2px #b45b5eaa;
}

.flip-card {
    border-radius: 3px;
    width: 230px;
    height: 70px;
    margin: 1rem;
    padding: 30px;
    background: #3c716e7d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
    perspective: 3600px;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-card:hover {
    transform: rotateY(180deg);
}

.card-container-front, .card-container-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;
    top: 0px;
    left:0px;
    position: absolute;
    border-radius: 3px;
    width:100%;
    height:100%;
}

.card-container-front {
    transform: rotateY(0deg);
}

.card-container-back {
    transform: rotateY(180deg);
}

section {
    margin: 0;
}

footer {
    background: rgba(0, 0, 0, 0.18);
    padding-top:2rem;
    border-top: 1px dashed #20c997;
}

.footer-container {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}